<div class="old column">
  <h4>Previous Subscription</h4>
  <div class="row">
    <span class="label">Plan</span>
    <span class="value" id="old-plan">{{(previuos$ | async).name}}</span>
  </div>
  <div class="row">
    <span class="label">Seats</span>
    <span class="value" id="old-seats">{{(previuos$ | async).seats}}</span>
  </div>
  <div class="row">
    <span class="label">Price</span>
    <span class="value" id="old-cost">{{(previuos$ | async).cost}}</span>
  </div>
</div>

<div class="new column">
  <h4>Updated Subscription</h4>
  <div class="row">
    <span class="label">Plan</span>
    <span class="value" id="new-plan">{{(current$ | async).name}}</span>
  </div>
  <div class="row">
    <span class="label">Seats</span>
    <span class="value" id="new-seats">{{(current$ | async).seats}}</span>
  </div>
  <div class="row">
    <span class="label">Price</span>
    <span class="value" id="new-cost">{{(current$ | async).cost}}</span>
  </div>
</div>
<div class="button-section">
  <button routerLink="/subscription/current" id="back">Back</button>
</div>
