<h2>Subscription</h2>
<form [formGroup]="subscriptionForm" (ngSubmit)="updateSubscription()" novalidate>
  <div class="product">
    <div class="edit-plan">
      <div>
        <select id="plan-input" formControlName="plan">
          <option *ngFor="let plan of plans" [value]="plan.value">{{plan.name}}</option>
        </select>
      </div>
      <div class="label">
        <label for="planInput">Plan</label>
      </div>
    </div>

    <div class="edit-seats">
      <div>
        <input id="seats-input" type="number" formControlName="seats">
      </div>
      <div class="label">
       <label for="seats-input">Seats</label>
      </div>
    </div>

    <div class="price">
      <div id="cost-value">{{subscription?.cost}}</div>
      <div class="label">Price</div>
    </div>
  </div>
  <div class="button-section">
    <button type="submit" [disabled]="!canUpdateSubscription()">Update Subscription</button>
  </div>
</form>
