:host {
  display: block;
  height: 300px;
  margin-left: 20px;
}

h2 {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 50px
}

.button-section {
  width: 500px;
  text-align: right;
  margin-top: 20px;
}
