<h2 i18n>Subscription</h2>
<form [formGroup]="subscriptionForm" (ngSubmit)="update()" novalidate>
  <div formArrayName="products">
    <div *ngFor="let product of productsControl.controls; let i=index">
      <div [formGroupName]="i">
        <app-editable-product formControlName="product"></app-editable-product>
        <p *ngIf="productsControl.controls[i].controls.product.errors?.seats?.required" i18n>Seats should be none empty</p>
        <p *ngIf="productsControl.controls[i].controls.product.errors?.seats?.min" i18n>Seats should be greater than 0</p>
        <p *ngIf="productsControl.controls[i].controls.product.errors?.seats?.max" i18n>Seats should be less than 200000</p>
        <p *ngIf="productsControl.controls[i].controls.product.errors?.seats?.integer" i18n>Seats number should be integer</p>
      </div>
    </div>
  </div>
  <p *ngIf="apiError$ | async">{{(apiError$ | async).toString()}}</p>
  <div class="button-section">
    <button type="submit" [disabled]="!(canUpdate$ | async) || !subscriptionForm.valid" i18n>Update Subscription</button>
  </div>
</form>
